<div class="pricing-header p-3 pb-md-4 mx-auto text-center" style="max-width: 800px;">
  <p class="fs-5 text-body-secondary mb-3">
    If this sounds familiar, let's talk.
  </p>
  <p class="fs-5 text-body-secondary mb-4">
    If you're unsure whether a tech decision still makes sense, reach out.
  </p>
  <a class="btn btn-lg d-block d-md-inline btn-outline-secondary" target="calendly"
    onclick="Calendly.initPopupWidget({url: 'https://calendly.com/stephan-smith/introduction'});return false;">
    Start a conversation
  </a>
</div>
