<a name="fcto_why"></a>
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h2 class="display-6 text-center mb-4">
    Why use a fractional CTO?
    </h2>
    <p class="fs-5 text-body-secondary">
      You seek out a fractional CTO (aka fCTO) when you can <b>not find</b> or <b>afford</b> a
      full-time, salaried and equity motivated technical co-founder. When you need
      point solutions, an outside perspective, and options.
      <a href="/what_is_a_fractional_cto" class="link-secondary">learn more</a>.
    </p>
</div>