<hr>
<div class="pb-md-2 mx-auto" style="max-width: 1000px;">
  <div class="mb-4 rounded-3">
    <div class="card-body p-4">
      <div class="d-flex align-items-center gap-4 flex-wrap flex-md-nowrap">
        <div class="flex-grow-1">
          <p class="fs-5 mb-0">
            <strong>Soft Launched:</strong> I usually build tools for others. In 2024 I decided 
            to build my own tooling. I build a tool that helps <b>fractionals</b>
            track their time and invoice effortlessly, all via their existing <b>Google calendar</b>. 
          </p>
        </div>
        <div class="flex-shrink-0 text-center">
          <a href="https://fractional.tools">
            <img src="https://cdn.fractional.tools/email/logos/logo.png" alt="Fractional.Tools Logo" style="max-height: 70px; width: auto;">
          </a>
          <br>
          <a href="https://fractional.tools" class="btn btn-secondary mt-1">Learn more...</a>
        </div>
      </div>
    </div>
  </div>
</div>
