<div class="pricing-header p-3 pb-md-4 mt-5 mx-auto text-center">
  <h1 class="display-4 fw-normal text-body-emphasis">
    I am a fractional CTO who helps <b>founders</b> solve
    problems <b>quickly</b> and <b>practically</b>.
  </h1>
  <p class="fs-5 mt-4 text-body-secondary">
    Think of me as your <b>On-Demand</b> fractional co-founder. As a serial founder, I know the challenges
    of coupling vision and technology. Every tech decision needs to drive ROI. 
    <!-- As a serial founder, I know the value of rapid solutions and experimentation. I
    know the challenge that CEOs have in making healthy ROI focused technology decisions. -->
  </p>
  <br>
  <a class="btn btn-lg d-block d-md-inline btn-success" target="calendly"
    onclick="Calendly.initPopupWidget({url: 'https://calendly.com/stephan-smith/introduction'});return false;">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
      class="bi bi-calendar-check" viewBox="0 0 16 16">
      <path
        d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0" />
      <path
        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
    </svg>
    &nbsp;
    Free Consultation
  </a>
  &nbsp;
  <!-- <a class="btn btn-lg d-block d-md-inline btn-success" target="calendly"
    href="https://LowCodeCTO.com/subscribe">
    Subscribe!
  </a>
  &nbsp; -->
  <a class="btn btn-lg d-block d-md-inline btn-outline-success" href="#tldr" class="small text-muted">TL;DR</a>
</div>

<hr>