<div class="row mb-3">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Technology-Stack Review</h4>
      </div>
      <div class="card-body">
        <p>
          For the last two years AI has been a constant source 
          of stress for business leaders. The tools, patterns and 
          skills required to harness the benefits of AI are challenging.
          A good starting point to an organization facing challenges 
          is to do a top to bottom tech stack review. 
        </p>
        <p>
          <b>Frameworks:</b> A tech stack review is most impactful 
          when applied in a framework: "Effort vs Impact", "Sunk Cost Analysis",
          "Features vs Core Competencies", "Cost of Code Ownership". All 
          of these are patterns, that when applied to a tech stack can provide
          leadership with insights that drive sales, hiring and management.
        </p>
        <p></p>
          <b>Outcomes:</b> A tech stack reviews breaks down what you have 
          and maps it to what you need, now. It surfaces 'sunk costs', and 
          provides cutting edge drop in solutions that can help a team 
          lower their tech debt.
        </p>
        <p>
          <b>Time frames:</b> A tech stack review can range from a few weeks to 
          three months, depending upon the maturity of the team, processes and 
          goals. 
        </p>
        <hr>
        <div class="row">
          <div class="col-md-3 col-12">
            <span class="badge text-bg-dark">CI/CD</span>
            <span class="badge text-bg-dark">Code Review</span>
            <span class="badge text-bg-dark">Code ROI</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>