<div class="row mb-3">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Agile/Dev Process Tuning</h4>
      </div>
      <div class="card-body">
        <p>
          "When a team needs a <b>CTO</b> level
          assessment and tuning of their agile, CI/CD processes and
          <b>engineering rigor</b>. When tech teams <b>increase headcount</b>,
          but the teams throughput remains the same.",
          "How do we tune our processes for more velocity?"
        </p>
        <hr>
        <div class="row">
          <div class="col-md-9 col-12">
            <ul class="list-unstyled mt-3 mb-4">
              <li><b>Time frame:</b> ~4 weeks</li>
              <li><b>Engagement:</b> 5-10 calls or zoom sessions.</li>
              <li>
                <b>Summary:</b>
                Set of agile process changes, scored by
                ROI, risk, and timeline impacts.
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-12">
            <span class="badge text-bg-success">Code Review</span>
            <span class="badge text-bg-success">Code ROI</span>
            <span class="badge text-bg-success">Github Actions</span>
            <span class="badge text-bg-success">Docker Builds</span>
            <span class="badge text-bg-success">Ticket Rigor</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">SOC2 Audit Preparation</h4>
      </div>
      <div class="card-body">
        <p>
          "When a <b>Leadership teams</b>
          needs to speed up their SOC work to <b>enable</b> their enterprise
          sales, train their team and demonstrate leadership around
          data security concerns."
        </p>
        <hr>
        <div class="row">
          <div class="col-md-9 col-12">
            <ul class="list-unstyled mt-3 mb-4">
              <li><b>Time frame:</b> 2-3 months</li>
              <li><b>Engagement:</b> 5-10 calls or zoom sessions.</li>
              <li>
                <b>Summary:</b>
                Set of the processes & changes, to get teams ready for SOC and Cybersecurity Review.
                Setup processes that match the state of a given startup, for staffing, tech and funding.
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-12">
            <span class="badge text-bg-success">Password Policy</span>
            <span class="badge text-bg-success">Audit Prep</span>
            <span class="badge text-bg-success">2FA/Passcode Setup</span>
            <span class="badge text-bg-success">Stack Tuning</span>
            <span class="badge text-bg-success">SOC2/HIPAA</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">MVP & POC Solution</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-9">
            <p>
              "When a <b>startup/company/team</b> needs to quick and practical proof-of-concept
              to <b>enable</b> an investment pitch, technology decision or simply prove
              an idea will work."
            </p>
          </div>
          <div class="col-md-3 col-12">
            <span class="badge text-bg-success">No-Code</span>
            <span class="badge text-bg-success">Low-Code Patterns</span>
            <span class="badge text-bg-success">NLP-to-Schema</span>
            <span class="badge text-bg-success">Operations Integrations</span>
            <span class="badge text-bg-success">Funding MVPs</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Interim CTO Engagement</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-9">
            <p>
              "When you need an interim CTO to take a <b>day-to-day</b> role; provide strategy,
              run a dev team and processes, and provide execution to reach revenue goals."
            </p>
            <p>
              Price dependent upon time and level of commitment.
              Often is a combination of all the packages and hands-on operations.
            </p>
          </div>
          <div class="col-md-3 col-12">
            <span class="badge text-bg-success">Short Term</span>
            <span class="badge text-bg-success">Rapid Integration</span>
            <span class="badge text-bg-success">Team Evals</span>
            <span class="badge text-bg-success">Roadmaps</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>