<a name="packages"></a>
<div class="row mb-3">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">
          Offshoring CTO Services
        </h4>
      </div>
      <div class="card-body">
        <p>
          The lure of offshoring teams is huge. The challenges are 
          there, but often unseen. Domestic projects and offshore teams
          thrive when a technology mediator bridges the two communities:
          business and technology.
        </p>
        <p>
          <b>The Challenge:</b> Technology is not a turn key. It 
          requires trust, both between business challenges and tech 
          providers. Business founders think in term of domestic 
          needs, markets and objectives, while developers think in terms of 
          execution, requirements and delivery. 
        </p>
        <p>
          <b>The Solution: </b> As an 'Offshoring CTO', I provide a bridge between requirements
          and offshore tech cultures. I build trust, and enable offshore teams to deliver value
          to non-technical founders.
        </p>
        <p>
          <b>Duration:</b> Lifetime of the project. This type of project 
          requires hands on work to build the team, support the mission, 
          and ensure the team is aligned with the business.
        </p>
        <p>
          <b>The Secret: </b> Good offshore companies will (often) turn away clients
          that lack in-house technology leadership. These companies have learned from 
          past experience and been burned by founders who lack experience with 
          tech teams. 
        </p>

        <p>
          <b>Type of Engagement:</b> Fractional Only. 
        </p>

        <hr>
        <div class="row">

          <div class="col-md-12 col-12">
            <span class="badge text-bg-dark">Spec Review</span>
            <span class="badge text-bg-dark">Hiring & Interviewing</span>
            <span class="badge text-bg-dark">Scalability</span>
            <span class="badge text-bg-dark">Expectation Setting</span>
            <span class="badge text-bg-dark">Engineering Rigor</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">
          On-Demand Tech Co-Founder
        </h4>
      </div>
      <div class="card-body">
        <p>
          CEOs and Founders often need an outside perspective on 
          their technology challenges. This perspective can be in the 
          form of communications and mediation, that allow a business 
          leader to navigate challenges in how their teams deliver.
        </p>
        <p>
          Sometimes they need someone who will think like a founder
          and provide that key approach that moves their thinking 
          and their business forward.
        </p>
        <p>
          <b>Duration:</b> This type of work is often short term, and 
          driven by a specific pain points, hiring challenges or tech 
          patterns. 
        </p>
        <p>
          <b>Who:</b> myself, and when needed, a distributed team of seasoned CTOs. 
          Over the past few years, I have built a network of builders, coders and 
          tech leaders. I leverage network to get fresh perspectives.
        </p>
        <hr>
        <div class="row">   
          <div class="col-md-12 col-12">
            <span class="badge text-bg-dark">Perspective</span>
            <span class="badge text-bg-dark">Revenue Blockers</span>
            <span class="badge text-bg-dark">Ai Tooling</span>
            <span class="badge text-bg-dark">Investor Prep</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>