<div class="row mb-3">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Pay-As-You-Go</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-9">
            <p>
              When you need access the perspective of an on-demand technical
              founder, you can book time. A package can seem like too much,
              so start with an hour.
            </p>
            <p>
              Here are some common topics:
            <ul>
              <li>
                Tech Stack Review.
              </li>
              <li>
                CISO Questions.
              </li>
              <li>
                Team Dynamics Challenges.
              </li>
              <li>
                Low-code Patterns?
              </li>
              <li>
                How do I message and sell to CTOs?
              </li>
              <li>
                How does a coder learn to sell?
              </li>
            </ul>
            A good starting point is review what I have written!
            </p>
          </div>
          <div class="col-md-3 col-12">
            <a type="button" class="w-100 btn btn-success" target="_blank"
              href="https://calendly.com/stephan-smith/on-demand?utm_source=site&utm_medium=cta&utm_campaign=calendly">
              Schedule
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>