<a name="packages"></a>
<div class="row mb-3">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">
          On-Demand AI Coaching
        </h4>
      </div>
      <div class="card-body">
        <p>
          On-Demand CTO Sessions: 1:1 guidance for technical strategy, code reviews, or AI integration.
          Good for non-tech founders have an idea that is ready to be built.
        </p>
        <ul>
          <li>
            Tech Stack Assessments: Rapid audits to evaluate and optimize tech choices.
          </li>
          <li>
            AI Workflow Design: Tailored advice on integrating AI into existing workflows.
          </li>
        </ul>

        <p>
          <b>Type of Engagement:</b> Hourly
        </p>
        <hr>
        <div class="row">

          <div class="col-md-12 col-12">
            <span class="badge text-bg-dark">Spec Review</span>
            <span class="badge text-bg-dark">Ai Workflow Design</span>
            <span class="badge text-bg-dark">Prompt Engineering</span>
            <span class="badge text-bg-dark">POC Scaling</span>
            <span class="badge text-bg-dark">Vibe Coding Support</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">
          Ai + Low-Code Strategy Package
        </h4>
      </div>
      <div class="card-body">
        <p>
          For founders ready to integrate AI without the heavy lifting of traditional 
          code. This package combines strategic planning with rapid low-code execution, 
          ideal for startups and scaling businesses.
        </p>
        <ul>
          <li>
            Low-Code & AI stack review and recommendations.
          </li>
          <li>
            Rapid prototyping for upgrading a team to a GTM and revenue mindset.
          </li>
          <li>
            Automation strategy and implementation.
          </li>
        </ul>
        <p>
          <b>Type of Engagement:</b> Packages
        </p>
        <hr>
        <div class="row">   
          <div class="col-md-12 col-12">
            <span class="badge text-bg-dark">Ai Automation Strategy</span>
            <span class="badge text-bg-dark">Skills Upgrades</span>
            <span class="badge text-bg-dark">Ai Scaling Patterns</span>
            <span class="badge text-bg-dark">Team Dynamics</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">
          Low-Code Thought Leadership
        </h4>
      </div>
      <div class="card-body">
        <p>
          Empower your engineering and product teams to embrace low-code innovation. This 
          package is designed for companies looking to accelerate digital transformation, 
          reduce technical debt, and foster a culture of rapid experimentation.
        </p>
        <p>
          Good for teams who are being forced to do more with less because 
          of a lack of resources, market changes or funding constraints.
        </p>
        <ul>
          <li>
            Low-Code Mindset Workshop: Transform your team's perspective on low-code.
          </li>
          <li>
            Tech Stack Review: Evaluate and optimize your low-code stack.
          </li>
          <li>
            Strategic Playbook Development.
          </li>
        </ul>
        <p>
          <b>Type of Engagement:</b> 2-3 Day Workshop
        </p>
        <hr>
        <div class="row">   
          <div class="col-md-12 col-12">
            <span class="badge text-bg-dark">Leadership Strategy</span>
            <span class="badge text-bg-dark">BOD Mtg Preparation</span>
            <span class="badge text-bg-dark">Product Management</span>
            <span class="badge text-bg-dark">Team Enablement</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>