<h2 class="display-6 text-center mb-4 mt-5">
  My Perspective
</h2>

<p class="fs-5 text-body-secondary text-center mb-4">
  Startups are all unique, but the pathways, pitfalls and blockers are not. Constant reinvention is a requirement to turn a vision into a reality. Here's how I approach common startup challenges:
  <a href="/perspective" class="link-secondary">Learn more</a>.
</p>

<style>
  td {
    line-height: 1.5;
    font-size: 19px;
  }
</style>

<div class="table-responsive here">
  <table class="table text-center table-hover">
    <thead>
      <tr>
        <th class="d-none d-md-table-cell" style="width: 15%;">&nbsp;</th>
        <th style="width: 40%;">Observed</th>
        <th style="width: 5%;">&nbsp;</th>
        <th style="width: 40%;">Solution</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="d-none d-md-table-cell text-start">Context</th>
        <td>
          Context gets lost in the rush to market.
        </td>
        <td>&rarr;</td>
        <td>
          "Context is KING". A fractional CTO bridges the gap when tech challenges impact revenue.
        </td>
      </tr>
      <tr>
        <th scope="row" class="d-none d-md-table-cell text-start">
          Code
        </th>
        <td class="text-left">
          Startups default to code: raise funds, hire coders, build everything custom.
        </td>
        <td>&rarr;</td>
        <td>
          <b data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover"
            data-bs-content="A lot of tech decisions look different when you classify code as a 'capital expenditure', not an investment. Rent before you buy.">Tech
            is a Capital Expenditure!</b> No Code, Glue Code, and Duct-tape solutions break the tech bind.
        </td>
      </tr>
      <tr>
        <th scope="row" class="d-none d-md-table-cell text-start">Mental</th>
        <td>
          Founder assumptions block progress to <b>revenue positive</b>.
        </td>
        <td>&rarr;</td>
        <td>
          Frameworks break the "this worked so far" trap. Tech debt isn't bad—it's misunderstood.
        </td>
      </tr>
    </tbody>
  </table>
</div>
