<h2 class="display-6 text-center mb-4">
  My Perspective
</h2>

<p class="fs-5 text-body-secondary text-center">
  Startups are all unique, but the pathways, pitfalls and
  blockers are not. Constant reinvention is a requirement
  to turn a vision into a reality. To understand how I approach
  the startup condition, here are some of the patterns and
  anti-patterns I have encountered and how I address them.
</p>

<style>
  td {
    line-height: 1.5; /* Adjust the value as needed */
    font-size: 19px;
  }
</style>

<div class="table-responsive here">
  <table class="table text-center table-hover">
    <thead>
      <tr>
        <th class="d-none d-md-table-cell" style="width: 15%;">&nbsp;</th>
        <th style="width: 40%;">Observed</th>
        <th style="width: 5%;">&nbsp;</th>
        <th style="width: 40%;">Solution</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="d-none d-md-table-cell text-start">Context</th>
        <td>
          When a founding team is heads down and building, context is hard
          to get, and learnings can get lost in the rush to market.
        </td>
        <td>&rarr;</td>
        <td>
          "Context is KING". A fractional CTO can help
          bridge the gap when tech challenges are impacting
          revenue and growth. It can build in source of new patterns
          and solutions.
          <br>
          <br>
          Read More:<a href="/articles/ai-focus-groups" class="link-secondary">Ai Focus Groups</a>
        </td>
      </tr>
      <tr>
        <th scope="row" class="d-none d-md-table-cell text-start">Perspective</th>
        <td>
          Founding teams build on what they know when they
          get started. When driving for revenue, its hard to
          justify a huge set of skill changes or framework refactor.
        </td>
        <td>&rarr;</td>
        <td>
          Changing tech stack and processes requires
          a different technique, patterns and approaches.
          Assuming a complete refactor will solve problems
          is a common anti-pattern.
        </td>
      </tr>
      <tr>
        <th scope="row" class="d-none d-md-table-cell text-start">Mental</th>
        <td>
          "What got you here, will not get you there"
          This is a common warning to founders. Your assumptions
          about your customers and their needs can be a huge
          blocker to getting your company to <b>revenue positive</b>.
        </td>
        <td>&rarr;</td>
        <td>
          A framework for scoring solutions can help
          break the founder assumption problem and
          breaking the 'this worked so far' approach.
          <br>
          <br>
          And tech debt is not bad, its just misunderstood!
        </td>
      </tr>
      <tr>
        <th scope="row" class="d-none d-md-table-cell text-start">Myths</th>
        <td>
          Startup founders and tech leaders often have myths and tropes that
          drive tech decisions.
        </td>
        <td>&rarr;</td>
        <td>
          The less tech used the better!
          No-code patterns is cheap, fast and too valuable to pass up or ignore. Startups raise money to hire tech.
          Tech costs often do not correlate to revenue growth. Tech decisions
          can enable teams break assumptions about their customers needs.
        </td>
      </tr>
      <tr>
        <th scope="row" class="d-none d-md-table-cell text-start">Experimentation</th>
        <td>
          Founders know that experiments are important, but
          find that making them happen can challenge any agile
          team.
        </td>
        <td>&rarr;</td>
        <td>
          Promoting an <b>experiment and measure</b> mindset
          can help break the assumptions deadlock that leads
          startups to miss productivity gains.
          <br>
          <br>
          Read More:
          <a href="/articles/the-sunk-cost-illusion" class="link-secondary">Sunk Cost Thinking</a>
        </td>
      </tr>
      <tr>
        <th scope="row" class="d-none d-md-table-cell text-start">Tuning</th>
        <td>
          Teams grow, but founders can find productivity
          remaining <b>stagnant</b>. How can things not speed
          up with more people working on a problem?
        </td>
        <td>&rarr;</td>
        <td>
          Teams and processes need tuning. They need to
          assessed against metrics that align with milestones.
          Frameworks can help score solutions. Frameworks
          can promote tech decision making patterns that align
          with revenue growth.
        </td>
      </tr>
      <tr>
        <th scope="row" class="d-none d-md-table-cell text-start">
          Code
        </th>
        <td class="text-left">
          Code is the default for B2B startups. We raise
          VC funds to hire coders. We give equity to find
          tech resources. CEOs think they need dedicated
          tech resources to build a business.
        </td>
        <td>&rarr;</td>
        <td>
          <b data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover"
            data-bs-content="A lot of tech decisions look different when you classify code as a 'capital expenditure', not an investment. Rent before you buy.">Tech
            is a Capital Expenditure!</b> Treat it that way.
          A focus on tech first solutions can impede learnings, and
          burn valuable funding. No Code, Glue Code and Duct-tape solutions
          are the way to break the tech bind.
          <br>
          <br>
          Read More:
          <a href="/articles/why-developer-run-to-code/" class="link-secondary">Why devs run to code.</a>
        </td>
      </tr>
      <tr>
        <th scope="row" class="d-none d-md-table-cell text-start">
          Time
        </th>
        <td class="text-left">
          Limited time, limited runway and limited staff can
          train a founding team to make all decisions quickly,
          using instinct, in the place of intentionality.
        </td>
        <td>&rarr;</td>
        <td>
          Giving a team a source of context can allow a team
          to process decisions at different speeds, and break
          the <b>"get it done yesterday"</b> type of solutions that can
          become the norm in many startup teams.
          <br>
          <br>
          Read More:
          <a href="/articles/resource-restriction-is-good" class="link-secondary">Poverty is good?</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>