<div>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-success equal">
        <div class="card-header py-3 text-bg-success border-success">
          <h3 class="my-0 fw-normal">Advisory</h3>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">

          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>CEO needs an outside perspective.</li>
            <li>Weekly calls.</li>
            <li>Background Research.</li>
            <li>Not visible to team.</li>
            <li>&nbsp;</li>
            <li><b>Recommended</b> starting point.</li>
          </ul>

        </div>
        <div class="card-footer">
          <a type="button" class="w-100 btn btn-success" target="_blank"
            href="https://calendly.com/stephan-smith/introduction">
            Schedule Time
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm equal">
        <div class="card-header py-3">
          <h3 class="my-0 fw-normal">Point Solutions</h3>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>Specific problems.</li>
            <li>Finite timelines.</li>
            <li>Set prices.</li>
            <li>&nbsp;</li>
            <li>Below are a list of common packages for common startup team <b>challenges</b>.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm equal">
        <div class="card-header py-3">
          <h3 class="my-0 fw-normal">Full Engagement</h3>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>When you need an <b>interim CTO</b> to take a day-to-day role.</li>
            <li>Provide strategy.</li>
            <li>Run a dev team and process.</li>
            <li>Tune a tech stack.</li>
            <li>Price dependent upon time and level of commitment.</li>
            <li>&nbsp;</li>
            <li>Often is a combination of all the packages and <b>hands-on</b> operations.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>