<a name="references"></a>

  <h2 class="display-6 p-3 text-center mb-4 mt-5">
    Some References
  </h2>

  <div class="row">
    <div class="col-12 col-md-4">
      <a href="https://www.linkedin.com/in/karen-kelly-daring-greatly/" target="linkedIn6"><img alt="Karen Kelly"
          src="assets/clients/karen-kelly.png" class="float-start testimonial-avatar"></a>
      <div>
        <b>Karen Kelly</b><br>Founder & CEO
      </div>
    </div>
    <div class="col-12 col-md-8">
      <p>
        "Stephan and I work together frequently, and his collaborative nature is a huge plus. He brings clarity and practical solutions to our tech challenges, breaking down complex technical decisions into actionable steps. His ability to work alongside our team—rather than dictating solutions—has been invaluable. He understands the startup journey and provides guidance that aligns with both our immediate needs and long-term goals."
      </p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-12 col-md-4">
      <a href="https://www.linkedin.com/in/jineshjpatel/" target="linkedIn2"><img alt="Yvan Castilloux"
          src="assets/clients/yvan-castilloux.png" class="float-start testimonial-avatar"></a>
      <div>
        <b>Yvan Castilloux</b><br>CEO of <a href="https://www.augusta.care/" class="link-secondary" target="AC">Augusta
          Care</a>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <p>
        “Stephan has been helping us in figuring out how we should get to
        SOC2 compliance within a reasonable budget. He's looked at our tech
        stack and gave us practical recommendations on how it should evolve
        over time. I'm looking forward to working with him again."
      </p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-12 col-md-4">
      <a href="https://www.linkedin.com/in/michelle-chao/" target="linkedIn3"><img alt="Michelle Chao"
          src="assets/clients/michelle-chao.png" class="float-start testimonial-avatar"></a>
      <div>
        <b>Michelle Chao</b><br>COO of <a href="https://phoenixtailings.com/" class="link-secondary" target="Pt">Phoenix
          Tailings</a>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <p>
        "Stephan worked with our team as we started to scale up and address security requirements.
        He assisted in our selection of security frameworks that matched our unique funding, IP, and
        cyber-security needs. His startup experience provided us with options that matched our stage
        and immediate concerns. We hope to tap into his experience when our security requirements change."
      </p>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-12 col-md-4">
      <a href="https://www.linkedin.com/in/jessemarple/" target="linkedIn4"><img alt="Jesse Marple"
          src="assets/clients/jesse-marple.png" class="float-start testimonial-avatar"></a>
      <div>
        <b>Jesse Marple</b><br>Solutions Architect at <a href="https://brytebridge.com/" class="link-secondary"
          target="BB">Brytebridge</a>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <p>
        "We pulled in Stephan to build out our tech stack and API. He executed in record time,
        provided our front end teams with Just-in-Time API resources as we decided on email providers,
        payment gateways, hosting and storage options on AWS. He takes a very practical approach to solutions.
        He gave us both working solutions, as well as best practices for API route testing,
        JWT token security and a framework that we can hand off to a team to extend. He helped
        our team go from idea to revenue in 4 weeks. <b>Zero to MVP in record time!</b>"
      </p>
    </div>
  </div>


  <hr>
  <div class="row">
    <div class="col-12 col-md-4">
      <a href="https://www.linkedin.com/in/dan-zollmann/" target="linkedIn5"><img alt="Dan Zollmann"
          src="assets/clients/dan-zollmann.jpeg" class="float-start testimonial-avatar"></a>
      <div>
        <b>Dan Zollmann</b><br>CEO & Founder of <a href="https://www.qase.org/" class="link-secondary"
          target="Qase">Qase</a>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <p>
        "Stephan's contribution to Qase has been extraordinary: he found ways to reduce platform spend by 
        80%, decrease data migration time by 90%, all while improving Qase's resilience and security. 
        Even more incredible is how he achieved this: instead of dictating solutions, he actively coached 
        and mentored our existing staff, helping them to identify and implement new, better approaches. 
        It's also rare to find a CTO equally comfortable in both the boardroom and the trenches. I highly 
        recommend Stephan to any early stage company looking to scale their team and their business.
        "
      </p>
    </div>
  </div>

  
  <hr/>