<h2 class="display-6 p-3 text-center mb-4">
  TL;DR
</h2>

<a name="tldr"></a>

<p class="fs-5 text-body-secondary">
  If you have read this far, then what you should intuit is that I apply
  a startup lens to my work. I use the <b>"low effort to high-impact"</b> filter to all
  decisions, assessments and recommendations. This approach provides founders with the
  tools to balance their <b>limited resources</b> to get <b>revenue positive</b>.
  I look for tech solutions that provide practical and <b>stage-relevant solutions</b>.
</p>
<p class="fs-5 text-body-secondary">
  As a tech founder, I know the <b>pain</b> of having to make decisions based on limited information, time
  and resources.
</p>
<p class="fs-5 text-body-secondary">
  And when needed I roll up my sleeves and dig in: configure cloud providers, debug
  CI/CD processes, upgrade libraries, integrate an auth provider and just simply:
  <span data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover"
    data-bs-content="I love an excuse to code! Ask me about my AI networking project to make LinkedIn do its job."><b>write
      code</b></span>.
</p>

<hr>

<i>
  References from past and current clients are available, after an initial
  screening call. Client data and relationships are all covered by NDAs. No leaks.
</i>


<hr/>