<h2 class="display-6 text-center mb-4">
  What tools do I use?
</h2>

<a name="tools"></a>

<p class="fs-5 pb-3 text-body-secondary text-center">
  Every application is unique, and fitting the tech
  stack to the project and the business need takes experience.
</p>

<style>
  .button-label {
    display: none
  }

  .features {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
    /* standard syntax */
  }

  @media (max-width: 768px) {
    .features {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
    }
  }

  .badge {
    border: 1px solid #000;
    padding: 4px;
  }
</style>

<table class="table" style="width: 100%;">
  <tr>
    <td width="45%">
      <b>Vibe Coding</b>
      <p>
        Rapid prototyping and scaling support of 
        concepts using AI coding services.
      </p>
    </td>
    <td width="55%">
      <ul class="features">
        <li>
          <a href="https://bolt.new/" class="link-secondary" target="_blank">Bolt.new</a>
        </li>
        <li>
          <a href="https://replit.com/" class="link-secondary" target="_blank">Replit</a>
        </li>
        <li>
          <a href="https://loveable.dev/" class="link-secondary" target="_blank">Loveable</a>
        </li>
        <li>
          <a href="https://supabase.com/" class="link-secondary" target="_blank">Supabase</a> / <a href="https://firebase.google.com/" class="link-secondary" target="_blank">Firebase</a>
        </li>
        <li>
          <a href="https://base44.io/" class="link-secondary" target="_blank">Base44</a>
        </li>
        <li>
          <a href="https://bettyblocks.com" class="link-secondary" target="_blank">Betty Blocks</a>
        </li>
      </ul>
    </td>
  </tr>
  <tr>
    <td width="45%">
      <b>Ai Automation</b>
      <p>
        Scaling vibe and legacy systems with AI automation.
      </p>
    </td>
    <td width="55%">
      <ul class="features">
        <li>
          Make.com
        </li>
        <li>
          N8n
        </li>
        <li>
          Magma Deploy
        </li>
      </ul>
    </td>
  </tr>
  <tr>
    <td width="45%">
      <b>On the Back-end</b>
      <p>
        Backend systems provide the business logic, identity
        management and control processes.
      </p>
    </td>
    <td width="55%">
      <ul class="features">
        <li>
          Fastify/ExpressJS
        </li>
        <li>
          NestJS
        </li>
        <li>
          Flask + Python
        </li>
        <li>
          GoLang+Gin <span class="badge text-dark">&hearts;</span>
        </li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      <b>On Front-end</b>
      <p>
        When a UI is needed solve a problem, I start
        with no-code and phase in the minimum front-end
        frameworks.
      </p>
    </td>
    <td>
      <ul class="features">
        <li>
          React <span class="badge text-dark">&hearts;</span>
        </li>
        <li>
          Vue.js (2/3)
        </li>
        <li>
          AngularJS
        </li>
        <li>
          Retool for No-code Admin UIs
        </li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      <b>Persistence</b>
      <p>
        When storage is needed, I default to SQLLite, then
        scale into schema vs No-SQL depending upon the need.
      </p>
      <!-- <p>
        <a href="/articles/databases_for_rapid_solutions">Databases for rapid solutions</a>
      </p> -->
    </td>
    <td>
      <ul class="features">
        <li>
          MongoDB <span class="badge text-dark">&hearts;</span>
        </li>
        <li>
          Firebase RTD
        </li>
        <li>
          Firestore/Suprabase
        </li>
        <li>
          Postgres <span class="badge text-dark">&hearts;</span>
        </li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      <b>
        For Code Delivery
      </b>
      <p>
        The landscape for deployment is rich and mature.
      </p>
      <!-- <p>
        <a href="/articles/turn_key_deployment_options">Turn-key Deployment options</a>
      </p> -->
    </td>
    <td>
      <ul class="features">
        <li>
          Codeship.io
        </li>
        <li>
          Github Actions <span class="badge text-dark">&hearts;</span>
        </li>
        <li>
          Travis CI
        </li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      <b>
        On the Cloud
      </b>
      <p>
        Hosting on EC and burning budget and credits
        is the last step. Start with hosting options that
        avoid devOps requirements.
      </p>
      <!-- <p>
        <a href="/articles/low_friction_hosting_patterns">Low Friction Hosting Patterns</a>
      </p> -->
    </td>
    <td>
      <ul class="features">
        <li>
          Fly.io <span class="badge text-dark">&hearts;</span>
        </li>
        <li>
          Heroku
        </li>
        <li>
          Firebase Hosting
        </li>
        <li>
          AWS Cloudfront
        </li>
        <li>
          Vercel
        </li>
        <li>
          Render.com (UIs)
        </li>
        <li>
          Github Pages
        </li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      <b>
        For Operations
      </b>
      <p>
        Operations is the foundation of any scalable solution. Empowering
        a team with access and tooling that met them where they are is
        key to proving a technology stack.
      </p>
      <!-- <p>
        <a href="/articles/slack_power_patterns">Slack power tools</a>
      </p> -->
    </td>
    <td>
      <ul class="features">
        <li>
          Slack API Integrations <span class="badge text-dark">&hearts;</span>
        </li>
        <li>
          FreshDesk API
        </li>
        <li>
          New Relic
        </li>
        <li>
          Loggly
        </li>
        <li>
          Keen.io
        </li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      <b>
        Rapid Tool Recipes
      </b>
      <p>
        The right technology stack items can drive
        innovation and scalable patterns.
      </p>

      <!-- <p>
        <a href="/articles/schema_powered_apis">Schema powered APIs</a>
      </p> -->

    </td>
    <td>
      <ul>
        <li>
          <a href="https://platformatic.dev" class="link-secondary" target="_blank">Platformatic.dev</a> for rapid APIs <span
            class="badge text-dark">&hearts;</span>
        </li>
        <li>
          <a href="https://www.prisma.io/" class="link-secondary" target="_blank">Prisma</a> for scalable schemas.
        </li>
        <li>
          <a href="https://www.algolia.com/" class="link-secondary" target="_blank">Algolia</a> for facetted search.
        </li>
        <li>
          <a href="https://www.retool.com/" class="link-secondary" target="_blank">Retool</a> for codeless admin UIs.
        </li>
      </ul>
    </td>
  </tr>
</table>
<br>
