---
layout: none
title: Stephan Smith (fCTO, Boston)
sitemap: false
---

{% include head.html %}
{% include ga.html %}
{% include subStyles.css %}

<body>

    {% include colors.html %}

    <div class="container py-3">

        <header>
            <div class="d-flex d-none d-md-block flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
                    <span class="badge bg-secondary" style="background-color:#000 !important; padding: 5px;">fCTO</span>
                    &nbsp;
                    <span class="fs-4">Fractional CTO</span>
                </a>
            </div>
        </header>

        <main>
            <div class="p-3 pb-md-4 mx-auto">

                <h1 class="mb-4">
                    Successfully scheduled!
                    <small class="text-body-secondary" style="font-size: 20px; font-weight: 200;">
                        (fractional CTO)
                    </small>
                </h1>

                <div class="alert alert-success" role="alert">
                    <p>
                        You will get an email confirmation, and if the internet gods are working,
                        you will see a calendar invite in your inbox.
                    </p>
                    <p>
                        You can also <b>reschedule</b> the meeting using the links the calendar invite.
                    </p>
                </div>



                <h3 class="mt-5">
                    What <u>Visibility</u> do you need?
                </h3>

                <p class="mt-3">
                    When working with me, you might want to think about how I can help,
                    and what mode you want that help to take. You the CEO/Founder/King,
                    where do you want me to be?
                </p> 

                <div class="row mt-3">
                    <div class="col-md-6">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                <h5 class="my-0 fw-normal">1. "Behind the Throne"</h5>
                            </div>
                            <div class="card-body">
                                <p style="height: 90px; font-size: 16px;">
                                    This is when I work directly with you,
                                    but am not visible to the public. This mode is valuable to founders or CEOs
                                    who need to own the outcome of a project and messaging to 
                                    a larger audience.
                                </p>
                                <i style="font-size: 16px;">
                                    Off LinkedIn. Stealth.
                                </i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                <h5 class="my-0 fw-normal">2. "In front of the Throne"</h5>
                            </div>
                            <div class="card-body">
                                <p style="height: 90px; font-size: 16px;">
                                    In this mode, my work is visible to everyone. This 
                                    can be for fundraising purposes, sales, team or to
                                    show progress to investors.
                                </p>
                                <i style="font-size: 16px;">
                                    On LinkedIn
                                </i>
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="mt-5">
                   What <u>Responsiveness</u> can you expect?
                </h3>

                <p class="mt-3">
                    Different goals require different responsiveness.
                </p>

                <div class="row mt-3">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                <h5 class="my-0 fw-normal">1. Point Solutions</h5>
                            </div>
                            <div class="card-body">
                                <p style="height: 120px;">
                                    Billed hourly. 100% response 
                                    to specific requests. Good for 
                                    initial engagements. Strategy,
                                    without execution.
                                </p>
                                <ul style="font-size: 14px; margin-left: -20px;">
                                    <li style="font-size: 14px;"><b>Level:</b> By the hour</li>
                                    <li style="font-size: 14px;"><b>Responsiveness:</b> 1-2 days</li>
                                    <li style="font-size: 14px;"><b>Prepaid Hour</b>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                <h5 class="my-0 fw-normal">2. Retainer</h5>
                            </div>
                            <div class="card-body">
                                <p style="height: 120px;">
                                    Longer term engagements,
                                    with a fixed price for a specific
                                    issue.
                                </p>
                                <ul style="font-size: 14px; margin-left: -20px;">
                                    <li style="font-size: 14px;"><b>Level:</b> Min of 20% of a month.</li>
                                    <li style="font-size: 14px;"><b>Responsiveness:</b> 1 day</li>
                                    <li style="font-size: 14px;"><b>Prepaid Retainer</b>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                <h5 class="my-0 fw-normal">3. Package</h5>
                            </div>
                            <div class="card-body">
                                <p style="height: 120px;">
                                    When someone needs long term and 
                                    deeper involvement, with autonomy
                                    and self direction.
                                </p>
                                <ul style="font-size: 14px; margin-left: -20px;">
                                    <li style="font-size: 14px; font-weight: light;"><b>Level:</b> Min. of 20% of a month.</li>
                                    <li style="font-size: 14px;"><b>Responsiveness:</b> 1-2 day</li>
                                    <li style="font-size: 14px;"><b>Prepaid Package</b>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="mt-5">
                    How to launch?
                </h3>

                <p>
                    What is required to get started? After a intro meeting, upon request,
                    I will provide the following documents.
                </p>

                <div class="row mt-3">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                <h5 class="my-0 fw-normal">1. Signed MSA</h5>
                            </div>
                            <div class="card-body" style="height: 240px;">
                                <p >
                                    Standard Master Service Agreement to 
                                    handle the legalities of the engagement;
                                    IP assignment, jurisdiction, mediation etc.
                                </p>
                                <p>
                                    <b>No red lines.</b>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                <h5 class="my-0 fw-normal">2. Signed SOW</h5>
                            </div>
                            <div class="card-body" style="height: 240px;">
                                <p style="font-size: 16px; height: 100px;">
                                    These can change over time. Any change in role,
                                    expectation or deliverables should be signed off.
                                </p>
                                <ul style="font-size: 16px; margin-left: -20px;">
                                    <li style="font-size: 14px;">Includes Scope</li>
                                    <li style="font-size: 14px;">Includes Pricing</li>
                                    <li style="font-size: 14px;">Includes Timeline</li>
                                    <li style="font-size: 14px;">Includes Payment Information</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                <h5 class="my-0 fw-normal">3. Signed NDA</h5>
                            </div>
                            <div class="card-body" style="height: 240px;">
                                <p>
                                    I sign your NDA. If needed, I can provide
                                    my own NDA for us to use.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <i>
                    All payments must be made electronically via ACH provided in the SOW.
                </i>

                <br>

                <div class="ceo-note mt-3 p-4">
                <h4>
                    Lastly?
                </h4>

                <p class="fs-5"></p>
                    I have a newsletter that I send out every week. It's free, and you can 
                    sign up below. It's a good starting point for breaking down tropes and assumptions.
                </p>

                <a class="btn btn-primary" href="https://lowcodecto.com">
                    Subscribe to "Low Code CTO"
                </a>
            </div>

        </main>

        {% include footer.html %}