---
layout: none
title: Stephan Smith (fCTO, Boston)
sitemap: false
---

{% include head.html %}
{% include ga.html %}
{% include subStyles.css %}

<body>

    {% include colors.html %}

    <div class="container py-3">

        <header>
            <div class="d-flex d-none d-md-block flex-column  flex-md-row align-items-center pb-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
                    <span class="badge bg-secondary" style="background-color:#000 !important; padding: 5px;">fCTO</span>
                    &nbsp;
                    <span class="fs-4">Fractional CTO</span>
                </a>
            </div>
        </header>

        <main>
            <div class="p-3 pb-md-4 mx-auto">

                <h1 class="mb-4">
                    Your Appointment is Successfully Scheduled!
                </h1>

                <div class="alert alert-success text-center p-5"role="alert">
                    <h4 style="font-weight: 200;">
                        You will receive an <b>email confirmation</b>, and if all goes well,<br> a calendar invite will appear in your <b>calendar</b>.
                    </h4>
                </div>

                <h3 class="mt-1">
                    What services do I offer?
                </h3>

                {% include homepage/packages-ai.html %}

                <p class="mt-2 text-center fs-5">
                    If you have never worked with a fractional CTO, <br>here are the questions you should explore.
                </p>

                <div class="accordion mt-4" id="visibilityAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#visibilityCollapse" aria-expanded="false" aria-controls="visibilityCollapse">
                                <h3 class="mb-0">What <u>Visibility</u> do you need?</h3>
                            </button>
                        </h2>
                        <div id="visibilityCollapse" class="accordion-collapse collapse" data-bs-parent="#visibilityAccordion">
                            <div class="accordion-body">
                                <p class="mt-3">
                                    Consider how I can assist you and the role you envision for me. 
                                    As the CEO or founder, where would you like me to fit in?
                                </p> 

                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <div class="card mb-2 shadow-sm">
                                            <div class="card-header">
                                                <h5 class="my-0 fw-normal">1. "Behind the Throne"</h5>
                                            </div>
                                            <div class="card-body">
                                                <p style="height: 140px; font-size: 16px;">
                                                    This is when I work directly with you,
                                                    but am not visible to the public. This mode is valuable to founders or CEOs
                                                    who need to own the outcome of a project and messaging to 
                                                    a larger audience.
                                                </p>
                                                <i style="font-size: 16px;">
                                                    Off LinkedIn. Stealth.
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card mb-2 shadow-sm">
                                            <div class="card-header">
                                                <h5 class="my-0 fw-normal">2. "In front of the Throne"</h5>
                                            </div>
                                            <div class="card-body">
                                                <p style="height: 140px; font-size: 16px;">
                                                    In this mode, I work directly with you and am visible to the public. 
                                                    This approach is beneficial for founders or CEOs who need their company 
                                                    or outside stakeholders to see and value my contributions.
                                                </p>
                                                <i style="font-size: 16px;">
                                                    On LinkedIn. Visible.
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion mt-2" id="responsivenessAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#responsivenessCollapse" aria-expanded="false" aria-controls="responsivenessCollapse">
                                <h3 class="mb-0">What <u>Responsiveness</u> can you expect?</h3>
                            </button>
                        </h2>
                        <div id="responsivenessCollapse" class="accordion-collapse collapse" data-bs-parent="#responsivenessAccordion">
                            <div class="accordion-body">
                                <p class="mt-3">
                                    Different goals require different responsiveness.
                                </p>

                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        <div class="card mb-4 shadow-sm">
                                            <div class="card-header">
                                                <h5 class="my-0 fw-normal">1. Point Solutions</h5>
                                            </div>
                                            <div class="card-body" style="height: 300px;">
                                                <p style="height: 130px; font-size: 16px;">
                                                    Billed hourly. 100% directed to specific requests.
                                                    You call the ball and set the agenda.
                                                    Good for initial engagements. Strategy,
                                                    without execution.
                                                </p>
                                                <ul style="font-size: 14px; margin-left: -20px;">
                                                    <li style="font-size: 14px;"><b>Level:</b> By the hour</li>
                                                    <li style="font-size: 14px;"><b>Responsiveness:</b> 1-2 days</li>
                                                    <li style="font-size: 14px;"><b>Prepaid Hour</b>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card mb-4 shadow-sm">
                                            <div class="card-header">
                                                <h5 class="my-0 fw-normal">2. Retainer</h5>
                                            </div>
                                            <div class="card-body" style="height: 300px;">
                                                <p style="height: 175px; font-size: 16px;">
                                                    Long-term engagements with a fixed price for addressing specific issues.
                                                </p>
                                                <ul style="font-size: 14px; margin-left: -20px;">
                                                    <li style="font-size: 14px;"><b>Level:</b> Min of 20% of a month.</li>
                                                    <li style="font-size: 14px;"><b>Responsiveness:</b> 1 day</li>
                                                    <li style="font-size: 14px;"><b>Prepaid Retainer</b>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card mb-4 shadow-sm">
                                            <div class="card-header">
                                                <h5 class="my-0 fw-normal">3. Package</h5>
                                            </div>
                                            <div class="card-body" style="height: 300px;">
                                                <p style="height: 175px; font-size: 16px;">
                                                    This package offers clients a deeper level of engagement and problem-solving,
                                                    where they purchase a set number of months for comprehensive involvement.
                                                </p>
                                                <ul style="font-size: 14px; margin-left: -20px;">
                                                    <li style="font-size: 14px; font-weight: light;"><b>Level:</b> Min. of 20% of a month.</li>
                                                    <li style="font-size: 14px;"><b>Responsiveness:</b> 1-2 day</li>
                                                    <li style="font-size: 14px;"><b>Prepaid Package</b>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion mt-2" id="kickoffAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#kickoffCollapse" aria-expanded="false" aria-controls="kickoffCollapse">
                                <h3 class="mb-0">What will <u>  working together</u> look like?</h3>
                            </button>
                        </h2>
                        <div id="kickoffCollapse" class="accordion-collapse collapse" data-bs-parent="#kickoffAccordion">
                            <div class="accordion-body">
                                <p>
                                    Here's how we'll get started together:
                                </p>

                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        <div class="card mb-4 shadow-sm">
                                            <div class="card-header">
                                                <h5 class="my-0 fw-normal">1. Letter of Intent</h5>
                                            </div>
                                            <div class="card-body" style="height: 290px;">
                                                <p style="font-size: 16px;">
                                                    I'll send you a Letter of Intent (LOI) to outline our initial understanding 
                                                    and commitment to work together. This sets the foundation for our engagement.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card mb-4 shadow-sm">
                                            <div class="card-header">
                                                <h5 class="my-0 fw-normal">2. SOW & MSA</h5>
                                            </div>
                                            <div class="card-body" style="height: 290px;">
                                                <p style="font-size: 16px;">
                                                    After working together, we'll formalize with a Statement of Work (SOW) 
                                                    outlining scope, pricing, timeline, and payment, plus a Master Service 
                                                    Agreement (MSA) for the legal framework.
                                                </p>
                                                <p style="font-size: 16px;">
                                                    <b>No red lines.</b>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card mb-4 shadow-sm">
                                            <div class="card-header">
                                                <h5 class="my-0 fw-normal">3. NDA</h5>
                                            </div>
                                            <div class="card-body" style="height: 290px;">
                                                <p style="font-size: 16px;">
                                                    I will sign your company's NDA to protect your confidential information.
                                                </p>
                                                <p style="font-size: 16px;">
                                                    Alternatively, I can provide my own NDA for our use if necessary.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <i>
                                    All payments should be made electronically via ACH, as specified in the Statement of Work (SOW).
                                </i>
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <div class="alert alert-secondary mt-2 p-4" role="alert">

                <p class="mb-0" style="font-size: 16px;">
                    I publish a free weekly newsletter that delves into innovative ideas and challenges common assumptions. 
                    It's a great resource for staying informed and inspired. <a href="https://lowcodecto.com" target="_blank" class="alert-link">Subscribe to the "Low Code CTO"</a>.
                </p>
            </div>

            <div class="alert alert-secondary mt-2 p-4" role="alert">
                <h5 class="mb-3">Beta Program for Fractionals</h5>
                <p class="mb-3" style="font-size: 16px;">
                    I'm quietly building a tool that turns Google Calendar into your "fractional OS" for anyone who sells time:
                </p>
                <ul style="font-size: 16px; margin-left: -20px;">
                    <li style="font-size: 16px;">track time directly from calendar events</li>
                    <li style="font-size: 16px;">tie work to clients automatically</li>
                    <li style="font-size: 16px;">generate/send invoices without a second system</li>
                </ul>
                <p class="mb-0" style="font-size: 16px;">
                    If that's relevant to you, you can <a href="https://beta.fractional.tools" target="_blank" class="alert-link">apply to the beta program</a>.
                    Or mention it on our call.
                </p>
            </div>

        </main>

        {% include footer.html %}