<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md-3">
      <small class="d-block mb-3 text-body-secondary">
        &copy; 2024 StephanSmith.Solutions 
      </small>
    </div>
    <div class="col-12 col-md-3">
      <small class="d-block mb-3 text-body-secondary">
        55 Court Street, 2nd Floor<br>
        Boston, MA 02108<br>
        <a target="venture-lane"
          href="https://www.google.com/maps/place/55+Court+St,+Boston,+MA+02203/@42.35934,-71.0616249,17z/data=!3m1!4b1!4m6!3m5!1s0x89e37084fef912d1:0x99fc249520fef721!8m2!3d42.35934!4d-71.05905!16s%2Fg%2F11cs9c6hx7?entry=ttu">
          (Directions to Venture Lane)
        </a>
      </small>
    </div>
    <div class="col-12 col-md-3">
      <small class="d-block mb-3 text-body-secondary">
        <a href="/">Home</a>
        <br>
        <a href="/what_is_a_fractional_cto">What is a fCTO?</a>
        <br>
        <a href="/projects">Code Portfolio</a>
      </small>
    </div>
    <div class="col-12 col-md-3">
      <small class="d-block mb-3 text-body-secondary">
        <a href="/recipes">Low-Code Recipes</a>
        <br>
        <a href="/startup_tools">Startup Tools</a>
      </small>
    </div>
  </div>
</footer>