<!-- Google Tag Manager -->
<script>
  if (window.location.hostname !== "localhost" && window.location.hostname !== "127.0.0.1") {
    window.dataLayer = window.dataLayer || [];
    
    // GTM Container
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5FX32VSV');
    
    // GA4 tracking is now handled by GTM GA4 Configuration tag
  } else {
    console.log('GA is off.');
  }
</script>
<!-- End Google Tag Manager -->