
<style>
    p { font-size: 19px; margin-bottom: 1.5em; }

    .tech-note {
        margin-bottom: 10px;
        border:1px solid #DFDFDF; 
        border-radius: 10px; 
        background-color: #DFDFDF; 
        padding: 20px;
    }

    .ceo-note {
        margin-bottom: 10px;
        border:1px solid #DFDFDF; 
        border-radius: 10px; 
        background-color: #DFDFDF; 
        padding: 20px;
    }

    .backlink::before { 
        content: "\2190 ";
    }

    .nextlink::before { 
        after: "\2190 ";
    }

</style>