
<style>

    p { font-size: 19px; margin-bottom: 1.5em; }

    .tech-note {
        margin-bottom: 10px;
        border:1px solid #DFDFDF; 
        border-radius: 10px; 
        background-color: #DFDFDF; 
        padding: 20px;
        color: #000 !important;
    }

    .tech-note p {
        color: #000;
        margin-bottom: 0px;
    }

    .tech-note h5 {
        color: #000;
    }

    .ceo-note {
        margin-bottom: 10px;
        border:1px solid #DFDFDF; 
        border-radius: 10px; 
        background-color: #DFDFDF; 
        padding: 20px;
        color: #000 !important;
    }

    .backlink::before { 
        content: "\2190 ";
    }

    .nextlink::before { 
        after: "\2190 ";
    }

    blockquote {
        border-left: 3px solid #000;
        background-color: #DFDFDF;
        padding: 20px;
        min-height: 20px;
    }

    blockquote p {
     margin: 0px;
    }

</style>