<div class="alert tech-note mt-2">
  <div class="row">
    <div class="col-5">
      <small>Newest blog</small>
      <h4>
        Newest Blog: Tech Cost Curve
      </h4>
      <small>
        Dec 23, 2024
      </small>
    </div>

    <div class="col-7">
      <p>
        Technology is expensive. Technology can be a huge drain on your cash flow. 
        But what if you could invert the curve?
      </p>
      <a href="/articles/inverting-a-tech-cost-curve/" class="btn btn-link">
        Read More
      </a>
    </div>
  </div>
 

</div>