---
layout: default
---

<div id="post">
  <h2>{{ page.title }}</h2>
  {{ content }}
</div>

<div id="related">
  <h3>Related Posts</h3>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

</div>

  {% if page.tags %}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <br><br>
  <div id="reading"><h3>Delicious Links</h3> 
  <p>Tags: {{ page.tags }} </p></div>
  
  <script type="text/javascript">
	function get_delicious_json( tags, settings) {
	  var url = 'http://feeds.delicious.com/v2/json/' + settings.username + '/';
	  var tagStories = new Object();
	  var target = $('<ul>', {}).appendTo(settings.target);
	  
	  $.each(tags.split(settings.separator), function(index, value) { 
		  $.getJSON(url + value + "?callback=?", function(data) { 
			  jQuery.each(data, function(key, val) {
			    if (!(val in tagStories)) {
			      jQuery('<a>', { href : val.u, title : val.d, text : val.d  }).appendTo(jQuery('<li>').text('» ').appendTo(target));
			      tagStories[val.u] = val;  
			    }
		     });
		  });
	  });
	}

	var settings = { username: 'stephansmith93', 
	                 target: '#reading',
	                 separator: ' ' };
	               
	get_delicious_json( '{{page.tags}}', settings);

  </script>
  {% endif %}

<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/d1b1/embed.js"></script><noscript><a href="http://d1b1.disqus.com/?url=ref">View comments.</a></noscript>
 
